<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Listes des offres</h5>
          
          <!-- Vertically centered Modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add">
              <i class="ri-add-fill">Ajouter</i>
          </button>
          <div class="modal fade" id="add" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title">Ajouter une nouvelle offre</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form class="row g-3" (submit)="addOffre()">
                        <div class="col-12">
                          <label class="form-label">Offre</label>
                          <input type="text" class="form-control" name="nomoffre">
                        </div>
                        <div class="col-12">
                          <label class="form-label">Description</label>
                          <textarea class="form-control" style="height: 100px"></textarea>
                        </div>
                        <div class="col-12">
                          <label class="form-label">Service</label>
                          <select class="form-control" aria-label="Default select example">
                            <option selected>--Choisir--</option>
                            <option *ngFor="let service of services">{{service.nomservice}}</option>
                          </select>                            
                        </div>
                          <div class="col-12">
                            <label class="form-label">Début</label>
                            <input type="date" class="form-control" name="datedebut" >
                          </div>
                          <div class="col-12">
                              <label class="form-label">Fin</label>
                              <input type="date" class="form-control" name="datefin" >
                          </div>
                          <div class="col-12">
                            <label class="form-label">Tarif</label>
                            <input type="text" class="form-control" name="tarif" >
                          </div>
                          <div class="col-12">
                              <label class="form-label">Remise</label>
                              <input type="text" class="form-control" name="remise" >
                          </div>
                          <div class="text-center">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                            <button type="reset" class="btn btn-secondary">Annuler</button>
                          </div>
                        </form><!-- Vertical Form -->
                  </div>
              </div>
              </div>
          </div><!-- End Vertically centered Modal-->
          <div class="row">
            <div *ngFor="let offreDetail of offres" class="col-lg-4 mb-4">
              <div class="card">
                <img src="assets/img/promo.jpg" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">{{ offreDetail.offre.nomoffre }}</h5>
                  <p>Du <code>{{ offreDetail.offre.datedebut | date:'dd-MM-yyyy' }}</code> au <code>{{ offreDetail.offre.datefin | date:'dd-MM-yyyy' }}</code></p>
                  <ul class="list-group list-group-flush" *ngFor="let service of offreDetail.services">
                    <li class="list-group-item">{{ service.nomservice }}</li>
                  </ul>
                  <p>Avec une remise de <code>{{ offreDetail.offre.remise }}</code>%</p>
                </div>
              </div>
            </div>
          </div>
        
          
          <table class="table datatable">
            <thead>
              <tr>
                <th scope="col">Service</th>
                <th scope="col">Début</th>
                <th scope="col">Fin</th>
                <th scope="col">Remise</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let offre of offres">
                <td>{{ offre.idservice }}</td>
                <td>{{ offre.datedebut | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                <td>{{ offre.datefin | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                <td>{{ offre.remise }}</td>
                <td>
                  <!-- Vertically centered Modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#update' + offre._id">
                      <i class="ri-edit-box-fill"></i>
                  </button>
                  <div class="modal fade" [id]="'update' + offre._id" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                          <div class="modal-header">
                          <h5 class="modal-title">Modifier une offre</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <form class="row g-3" (submit)="updateOffre(offre._id)">
                                  <div class="col-12">
                                    <label class="form-label">Début</label>
                                    <input type="text" class="form-control" name="datedebut" [(ngModel)]="offre.datedebut">
                                  </div>
                                  <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Modifier</button>
                                    <button type="reset" class="btn btn-secondary">Annuler</button>
                                  </div>
                                </form><!-- Vertical Form -->
                          </div>
                      </div>
                      </div>
                  </div><!-- End Vertically centered Modal-->
                </td>
                <td>
                  <!-- Vertically centered Modal -->
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#delete' + offre._id">
                      <i class="ri-delete-bin-5-fill"></i>
                  </button>
                  <div class="modal fade" [id]="'delete' + offre._id" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                          <div class="modal-header">
                          <h5 class="modal-title">Supprimer</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              Etes-vous sûre de vouloir supprimer cet élément?
                              <form class="row g-3" (submit)="deleteOffre(offre._id)">
                                <div class="col-12">
                                  <input type="hidden" class="form-control" name="_id" [(ngModel)]="offre._id">
                                </div>
                                <div class="text-center">
                                  <button type="submit" class="btn btn-primary">Valider</button>
                                  <button type="reset" class="btn btn-secondary">Annuler</button>
                                </div>
                              </form><!-- Vertical Form -->
                          </div>
                      </div>
                      </div>
                  </div><!-- End Vertically centered Modal-->
                </td>
              </tr>
            </tbody>
          </table>
          <!-- End Table with stripped rows -->
        </div>
      </div>
    </div>
  </div>
</section>
