<!-- app.component.html -->
<button class="btn btn-primary" type="button" [disabled]="isLoading">
    <span *ngIf="isLoading">
      <i class="fas fa-spinner fa-spin"></i>
    </span>
    {{ isLoading ? 'Loading...' : 'Click me' }}
  </button>
  
<router-outlet />
