<div class="card">
    <div class="card-body">
      <h5 class="card-title">Vos horaires</h5>

      <!-- Vertical Pills Tabs -->
      <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Matinée</button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Après-midi</button>
        </div>

        <div class="tab-content" id="v-pills-tabContent">
          
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                {{ horaire.matineeDebut | date:'shortTime' }} - {{ horaire.matineeFin | date:'shortTime' }} 
               
            </div>
          
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                {{ horaire.apresMidiDebut | date:'shortTime' }} - {{ horaire.apresMidiFin | date:'shortTime' }}
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#matinee">
            <i class="ri-edit-box-fill"></i>
        </button>   
        <div class="modal fade" id="matinee" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier l'horaire de la matinée</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form (submit)="updateHoraire()">
                    <div class="modal-body">
                        <div *ngIf="err" class="alert alert-danger">{{ err }}</div>
                        
                        <div class="mb-3">
                            <label for="matineeDebut" class="form-label">Début de la matinée</label>
                            <input type="time" class="form-control" id="matineeDebut" name="matineeDebut" [(ngModel)]="matineeDebut" min="07:00" max="12:00">
                        </div>
                        <div class="mb-3">
                            <label for="matineeFin" class="form-label">Fin de la matinée</label>
                            <input type="time" class="form-control" id="matineeFin" name="matineeFin" [(ngModel)]="matineeFin" min="07:00" max="12:00">
                        </div>
                        <div class="mb-3">
                            <label for="apresMidiDebut" class="form-label">Début de l'après-midi</label>
                            <input type="time" class="form-control" id="apresMidiDebut" name="apresMidiDebut" [(ngModel)]="apresMidiDebut" min="12:00" max="18:00">
                        </div>
                        <div class="mb-3">
                            <label for="apresMidiFin" class="form-label">Fin de l'après-midi</label>
                            <input type="time" class="form-control" id="apresMidiFin" name="apresMidiFin" [(ngModel)]="apresMidiFin" min="12:00" max="18:00">
                        </div>
                    
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" >Enregistrer</button>
                    </div>
                </form>
            </div>
            </div>
        </div><!-- End Vertically centered Modal-->
      </div>
      <!-- End Vertical Pills Tabs -->

    </div>
  </div>