<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Listes des types de dépense</h5>
            
            <!-- Vertically centered Modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add">
                <i class="ri-add-fill">Ajouter</i>
            </button>
            <div class="modal fade" id="add" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Ajouter un nouveau type de dépense</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3" (submit)="addTypeDepense()">
                            <div class="col-12">
                              <label class="form-label">Type</label>
                              <input type="text" class="form-control" name="nomtypedepense" [(ngModel)]="newTypeDepense.nomtypedepense">
                            </div>
                            <div class="text-center">
                              <button type="submit" class="btn btn-primary">Ajouter</button>
                              <button type="reset" class="btn btn-secondary">Annuler</button>
                            </div>
                          </form><!-- Vertical Form -->
                    </div>
                </div>
                </div>
            </div><!-- End Vertically centered Modal-->
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">Type</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let typedepense of typedepenses">
                  <td>{{ typedepense.nomtypedepense }}</td>
                  <td>
                    <!-- Vertically centered Modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#update' + typedepense._id">
                        <i class="ri-edit-box-fill"></i>
                    </button>
                    <div class="modal fade" [id]="'update' + typedepense._id" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">Modifier un type de dépense</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row g-3" (submit)="updateTypeDepense(typedepense._id)">
                                    <div class="col-12">
                                      <label class="form-label">Type</label>
                                      <input type="text" class="form-control" name="nomtypedepense" [(ngModel)]="typedepense.nomtypedepense">
                                    </div>
                                    <div class="text-center">
                                      <button type="submit" class="btn btn-primary">Modifier</button>
                                      <button type="reset" class="btn btn-secondary">Annuler</button>
                                    </div>
                                  </form><!-- Vertical Form -->
                            </div>
                        </div>
                        </div>
                    </div><!-- End Vertically centered Modal-->
                  </td>
                  <td>
                    <!-- Vertically centered Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#delete' + typedepense._id">
                        <i class="ri-delete-bin-5-fill"></i>
                    </button>
                    <div class="modal fade" [id]="'delete' + typedepense._id" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">Supprimer</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Etes-vous sûre de vouloir supprimer cet élément?
                                <form class="row g-3" (submit)="deleteTypeDepense(typedepense._id)">
                                  <div class="col-12">
                                    <input type="hidden" class="form-control" name="_id" [(ngModel)]="typedepense._id">
                                  </div>
                                  <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                    <button type="reset" class="btn btn-secondary">Annuler</button>
                                  </div>
                                </form><!-- Vertical Form -->
                            </div>
                        </div>
                        </div>
                    </div><!-- End Vertically centered Modal-->
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
