<!-- service-client.component.html -->
<div class="row">
    <div *ngFor="let service of services" class="col-lg-4 mb-4">
      <div class="card">
        <img [src]="'data:image/png;base64,' + service.image" class="card-img-top" alt="..." style="width: 470px; height: 369px;">
        <div class="card-body">
          <h5 class="card-title">{{ service.nomservice }}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Cards with images on top -->
  