<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Listes des employés</h5>
          
          <!-- Vertically centered Modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add">
              <i class="ri-add-fill">Ajouter</i>
          </button>
          <div class="modal fade" id="add" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title">Ajouter un nouveau employé</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form class="row g-3" (submit)="addEmploye()" enctype="multipart/form-data">
                          <div class="col-12">
                            <label  class="form-label">Nom</label>
                            <input type="text" class="form-control" name="name" id="name" [(ngModel)]="name">
                          </div>
                          <div class="col-12">
                            <label  class="form-label">Image</label>
                            <input class="form-control" type="file" name="image" id="image" (change)="onFileSelected($event)">
                          </div>
                      
                          <div class="col-12">
                            <label class="form-label">Services</label>
                            <div *ngFor="let service of services">
                                <input type="checkbox" name="selectedServices" [value]="service._id" (change)="onServiceSelected($event)">
                                <label>{{ service.nomservice }}</label>
                            </div>
                        </div>

                          <div class="text-center">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                            <button type="reset" class="btn btn-secondary">Annuler</button>
                          </div>
                        </form><!-- Vertical Form -->
                  </div>
              </div>
              </div>
          </div><!-- End Vertically centered Modal-->
          <!-- Table with stripped rows -->
          <table class="table datatable">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Nom</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employe of employes">
                <th scope="row">
                  <img [src]="'assets/img/' + employe.image" alt="Image de l employé" style="width: 100px; height: 100px;"></th>
                <td>{{ employe.name }}</td>
                <td>
                  <!-- Vertically centered Modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#update' + employe._id">
                      <i class="ri-edit-box-fill"></i>
                  </button>
                  <div class="modal fade" [id]="'update' + employe._id" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                          <div class="modal-header">
                          <h5 class="modal-title">Modifier un employé</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <form class="row g-3" (submit)="updateEmploye(employe._id)">
                                  <div class="col-12">
                                    <label class="form-label">Nom</label>
                                    <input type="text" class="form-control" name="name" [(ngModel)]="employe.name">
                                  </div>
                                 
                                  <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Modifier</button>
                                    <button type="reset" class="btn btn-secondary">Annuler</button>
                                  </div>
                                </form><!-- Vertical Form -->
                          </div>
                      </div>
                      </div>
                  </div><!-- End Vertically centered Modal-->
                </td>
                <td>
                  <!-- Vertically centered Modal -->
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#delete' + employe._id">
                      <i class="ri-delete-bin-5-fill"></i>
                  </button>
                  <div class="modal fade" [id]="'delete' + employe._id" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                          <div class="modal-header">
                          <h5 class="modal-title">Supprimer</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              Etes-vous sûre de vouloir supprimer cet élément?
                              <form class="row g-3" (submit)="deleteEmploye(employe._id)">
                                <div class="col-12">
                                  <input type="hidden" class="form-control" name="_id" [(ngModel)]="employe._id">
                                </div>
                                <div class="text-center">
                                  <button type="submit" class="btn btn-primary">Valider</button>
                                  <button type="reset" class="btn btn-secondary">Annuler</button>
                                </div>
                              </form><!-- Vertical Form -->
                          </div>
                      </div>
                      </div>
                  </div><!-- End Vertically centered Modal-->
                </td>
              </tr>
            </tbody>
          </table>
          <!-- End Table with stripped rows -->
        </div>
      </div>
    </div>
  </div>
</section>
