<div class="row">
    <div class="col-lg-12 mb-4">
      <select class="form-select" [(ngModel)]="selectedService" (change)="onServiceSelected(selectedService)">
        <option value="">Tous les services</option>
        <option *ngFor="let service of services" [value]="service._id">{{ service.nomservice }}</option>
      </select>
    </div>
  </div>
  
  <div class="row">
    <div *ngFor="let employe of employes" class="col-lg-4 mb-4">
      <div class="card">
        <img [src]="'assets/img/' + employe.image" class="fixed-size-image" alt="Image de l'employé">
        <div class="card-body">
          <h5 class="card-title">{{ employe.name }}</h5>
          <p class="card-text">Description de l'employé ou autres informations</p>
          <div class="rating">
            <span class="star" [class.yellow]="employe.rating >= 1" (click)="addPreference(employe._id, 1, selectedService)">&#9733;</span>
            <span class="star" [class.yellow]="employe.rating >= 2" (click)="addPreference(employe._id, 2, selectedService)">&#9733;</span>
            <span class="star" [class.yellow]="employe.rating >= 3" (click)="addPreference(employe._id, 3, selectedService)">&#9733;</span>
            <span class="star" [class.yellow]="employe.rating >= 4" (click)="addPreference(employe._id, 4, selectedService)">&#9733;</span>
            <span class="star" [class.yellow]="employe.rating >= 5" (click)="addPreference(employe._id, 5, selectedService)">&#9733;</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  