.fixed-size-image {
    width: 200px; /* Définissez la largeur souhaitée */
    height: 200px; /* Définissez la hauteur souhaitée */
  }
  
.star {
    font-size: 24px; /* Taille des étoiles */
    cursor: pointer; /* Changement de curseur au survol */
  }
  
.star.yellow {
    color: yellow; /* Couleur jaune pour les étoiles sélectionnées */
  }