<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->
  </header><!-- End Header -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/employe/">
          <i class="bi bi-person"></i>
          <span>Profil</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/employe/horaire">
          <i class="bi bi-card-list"></i>
          <span>Horaire</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/employe/rendezvous">
          <i class="bi bi-grid"></i>
          <span>Rendez-vous</span>
        </a>
      </li><!-- End Dashboard Nav -->
     
    </ul>

  </aside><!-- End Sidebar-->
  
  <main id="main" class="main">
    <router-outlet/>
    <!-- L'emplacement où le contenu de la route actuelle sera injecté -->
  </main>
  

<footer id="footer" class="footer">
    <div class="copyright">
         <p><strong><span>RAMAROJAONA</span></strong> Hery Miantsa</p>
         <p><strong><span>FALIMANANTSOA</span></strong> Ny Ando Vonin'Ala</p>
    </div>
</footer><!-- End Footer -->

  