<section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img [src]="'assets/img/' + employe.image" alt="Profile" class="rounded-circle">
            <h2>{{ employe.name }}</h2>
            <h3>Employé(e)</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">Détail du profil</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Nom de l'employé(e)</div>
                  <div class="col-lg-9 col-md-8">{{ employe.name }}</div>
                </div>

                <div class="row">
                  <div  class="col-lg-3 col-md-4 label">Service(s)</div>
                  <div  class="col-lg-9 col-md-8"><h6 *ngFor="let service of services">{{ service.nomservice }} </h6></div>
                </div>
              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form (submit)="updateEmploye()" enctype="multipart/form-data">
                  <div class="row mb-3" 
                    (dragover)="onDragOver($event)" 
                    (dragenter)="onDragEnter($event)" 
                    (dragleave)="onDragLeave($event)" 
                    (drop)="onDrop($event)">
                  <label for="image" class="col-md-4 col-lg-3 col-form-label">Photo de profil</label>
                  <div class="col-md-8 col-lg-9" dropzone>
                    <img [src]="image ? getImageUrl(image) : 'assets/img/'+ employe.image" id="profile-image" alt="Profile Image">
                    <input type="file" id="image" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
                    <p *ngIf="!image">Glissez et déposez une image ici ou cliquez pour sélectionner</p>
                  </div>
                </div>

                  <div class="row mb-3">
                    <label for="name" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="name" type="text" class="form-control" id="name" value="{{employe.name}}" [(ngModel)]="name">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </form><!-- End Profile Edit Form -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">
                <div *ngIf="errPassword" class="alert alert-danger">{{ errPassword }}</div>
                <!-- Change Password Form -->
                <form (submit)="updatePassword(employe._id)" >

                  <div class="row mb-3">
                    <label for="password" class="col-md-4 col-lg-3 col-form-label">Mot de passe actuel</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="password" type="password" class="form-control" id="password" [(ngModel)]="password">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="password1" class="col-md-4 col-lg-3 col-form-label">Nouveau mot de passe</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="password1" type="password" class="form-control" id="password1" [(ngModel)]="password1">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="password2" class="col-md-4 col-lg-3 col-form-label">Re-taper le mot de passe</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="password2" type="password" class="form-control" id="password2" [(ngModel)]="password2">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
                  </div>
                </form><!-- End Change Password Form -->

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

