.dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .dropzone.dragover {
    border-color: #009688;
  }
  
  .dropzone.active {
    background-color: #f0f0f0;
  }
  
  .dropzone img {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
  }
  