<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Listes des offres</h5>
            <div class="row">
              <div *ngFor="let offreDetail of offres" class="col-lg-4 mb-4">
                <div class="card">
                  <img src="assets/img/promo.jpg" class="card-img-top" alt="...">
                  <div class="card-img-overlay">
                    <h5 class="card-title">{{ offreDetail.offre.nomoffre }}</h5>
                    <p>Du <code>{{ offreDetail.offre.datedebut | date:'dd-MM-yyyy' }}</code> au <code>{{ offreDetail.offre.datefin | date:'dd-MM-yyyy' }}</code></p>
                    <ul class="list-group list-group-flush" *ngFor="let service of offreDetail.services">
                      <li class="list-group-item">{{ service.nomservice }}</li>
                    </ul>
                    <p>Avec une remise de <span class="text-success small pt-1 fw-bold">{{ offreDetail.offre.remise }}%</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
