<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Listes des services</h5>
            
            <!-- Vertically centered Modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add">
                <i class="ri-add-fill">Ajouter</i>
            </button>
            <div class="modal fade" id="add" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Ajouter un nouveau service</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3" (submit)="addService()" enctype="multipart/form-data">
                            <div class="col-12">
                              <label  class="form-label">Service</label>
                              <input type="text" class="form-control" name="nomservice" [(ngModel)]="newService.nomservice">
                            </div>
                            <div class="col-12">
                              <label  class="form-label">Image</label>
                              <input class="form-control" type="file" name="image" (change)="handleFileInput($event)">
                            </div>
                            <div class="col-12">
                              <label  class="form-label">Durée</label>
                              <input type="text" class="form-control" name="duree" [(ngModel)]="newService.duree">
                            </div>
                            <div class="col-12">
                              <label class="form-label">Prix</label>
                              <input type="text" class="form-control" name="prix" [(ngModel)]="newService.prix">
                            </div>
                            <div class="col-12">
                              <label class="form-label">Commission</label>
                              <input type="text" class="form-control" name="Commission" [(ngModel)]="newService.commission">
                            </div>
                            <div class="text-center">
                              <button type="submit" class="btn btn-primary">Ajouter</button>
                              <button type="reset" class="btn btn-secondary">Annuler</button>
                            </div>
                          </form><!-- Vertical Form -->
                    </div>
                </div>
                </div>
            </div><!-- End Vertically centered Modal-->
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Service</th>
                  <th scope="col">Durée(min)</th>
                  <th scope="col">Prix(Ar)</th>
                  <th scope="col">Commission(%)</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let service of services">
                  <th scope="row"><img [src]="'data:image/png;base64,' + service.image" alt="Image du service" style="width: 100px; height: 100px;"></th>
                  <td>{{ service.nomservice }}</td>
                  <td>{{ service.duree }}</td>
                  <td>{{ service.prix }}</td>
                  <td>{{ service.commission }}</td>
                  <td>
                    <!-- Vertically centered Modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#update' + service._id">
                        <i class="ri-edit-box-fill"></i>
                    </button>
                    <div class="modal fade" [id]="'update' + service._id" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">Modifier un service</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row g-3" (submit)="updateService(service._id)">
                                    <div class="col-12">
                                      <label class="form-label">Service</label>
                                      <input type="text" class="form-control" name="nomservice" [(ngModel)]="service.nomservice">
                                    </div>
                                    <div class="col-12">
                                      <label class="form-label">Durée</label>
                                      <input type="text" class="form-control" name="duree" [(ngModel)]="service.duree">
                                    </div>
                                    <div class="col-12">
                                      <label class="form-label">Prix</label>
                                      <input type="text" class="form-control" name="prix" [(ngModel)]="service.prix">
                                    </div>
                                    <div class="col-12">
                                      <label class="form-label">Commission</label>
                                      <input type="text" class="form-control" name="Commission" [(ngModel)]="service.commission">
                                    </div>
                                    <div class="text-center">
                                      <button type="submit" class="btn btn-primary">Modifier</button>
                                      <button type="reset" class="btn btn-secondary">Annuler</button>
                                    </div>
                                  </form><!-- Vertical Form -->
                            </div>
                        </div>
                        </div>
                    </div><!-- End Vertically centered Modal-->
                  </td>
                  <td>
                    <!-- Vertically centered Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#delete' + service._id">
                        <i class="ri-delete-bin-5-fill"></i>
                    </button>
                    <div class="modal fade" [id]="'delete' + service._id" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">Supprimer</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Etes-vous sûre de vouloir supprimer cet élément?
                                <form class="row g-3" (submit)="deleteService(service._id)">
                                  <div class="col-12">
                                    <input type="hidden" class="form-control" name="_id" [(ngModel)]="service._id">
                                  </div>
                                  <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                    <button type="reset" class="btn btn-secondary">Annuler</button>
                                  </div>
                                </form><!-- Vertical Form -->
                            </div>
                        </div>
                        </div>
                    </div><!-- End Vertically centered Modal-->
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
