<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="currentDiv === 1">
                        <div class="row">
                            <div class="col-lg-4">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" (click)="goToPreviousMonth()" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" (click)="goToNextMonth()" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav><!-- End Pagination with icons -->
                            </div>
                            <div class="col-lg-4">
                                <h1 class="card-title">{{ getMonthYearTitle() }}</h1>
                            </div>
                            <div class="col-lg-4">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <button type="button" class="btn btn-primary" (click)="showDiv(1)">Mois</button>
                                    <button type="button" class="btn btn-outline-primary" (click)="showDiv(2)">Semaine</button>
                                    <button type="button" class="btn btn-outline-primary" (click)="showDiv(3)">Jour</button>
                                </div>
                            </div>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Sun</th>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                </tr>
                            </thead>
                            <tbody id="calendar-body">
                                <tr *ngFor="let row of calendar">
                                    <td *ngFor="let day of row" (click)="openPopup(day)" [class.has-task]="hasTask(day)">
                                        <div class="day-container" [class.task-day]="hasTask(day)">
                                            <div class="day">{{ day !== 0 ? day : '' }}</div>
                                            <div *ngIf="hasTask(day)" class="task-names">
                                                <div *ngFor="let taskName of getTaskNames(day)">{{ taskName }}</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="currentDiv === 2">
                        <div class="row">
                            <div class="col-lg-4">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" (click)="previousWeek()" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" (click)="nextWeek()" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav><!-- End Pagination with icons -->
                            </div>
                            <div class="col-lg-4">
                                <h1 class="card-title">{{ getTableTitle() }}</h1>
                            </div>
                            <div class="col-lg-4">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <button type="button" class="btn btn-outline-primary" (click)="showDiv(1)">Mois</button>
                                    <button type="button" class="btn btn-primary" (click)="showDiv(2)">Semaine</button>
                                    <button type="button" class="btn btn-outline-primary" (click)="showDiv(3)">Jour</button>
                                </div>
                            </div>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th class="colonne-heures">Heures</th>
                                    <th *ngFor="let day of jours">{{ getDayAndHour(day) }}</th>
                                </tr>
                            </thead>
                            <tbody style="max-height: 10px; overflow-y: auto;">
                                <tr *ngFor="let hour of heures">
                                    <td class="colonne-heures">{{ hour }}</td>
                                    <td *ngFor="let day of jours"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="currentDiv === 3">
                        <div class="row">
                            <div class="col-lg-4">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" (click)="decrementDate()" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" (click)="incrementDate()" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav><!-- End Pagination with icons -->
                            </div>
                            <div class="col-lg-4">
                                <h1 class="card-title">{{ getDayForHour() }}</h1>
                            </div>
                            <div class="col-lg-4">
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <button type="button" class="btn btn-outline-primary" (click)="showDiv(1)">Mois</button>
                                    <button type="button" class="btn btn-outline-primary" (click)="showDiv(2)">Semaine</button>
                                    <button type="button" class="btn btn-primary" (click)="showDiv(3)">Jour</button>
                                </div>
                            </div>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th class="colonne-heures">Heure</th>
                                    <th>{{ getDayForHour() }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hour of heures">
                                    <td class="colonne-heures">{{ hour }}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div *ngIf="selectedDate" class="popup">
    <h5 class="card-title">{{ selectedDate }}</h5>
    <h3 class="card-title">{{ getMonthYearTitle() }}</h3>
    <form class="row g-3" (submit)="addTask()">
        <div class="col-12">
          <label for="inputNanme4" class="form-label">Task name:</label>
          <input type="text" class="form-control" name="taskName" [(ngModel)]="taskName" required>
        </div>
        <div class="col-12">
          <label for="inputEmail4" class="form-label">Start Date</label>
          <input type="time" class="form-control" name="startDate" [(ngModel)]="startDate" required>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-secondary" (click)="closePopup()">Reset</button>
        </div>
    </form><!-- Vertical Form -->
  </div>

  
