table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .scrollable-body {
    max-height: 50px; /* ou toute autre hauteur souhaitée */
    overflow-y: auto;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: right;
  }
  
  th {
    background-color: #f2f2f2;
  }

  td {
    width: 80px; /* Fixe la largeur des cellules */
    height: 80px; /* Fixe la hauteur des cellules */
  }

  td:hover {
    background-color: #e6e6e6;
    cursor: pointer;
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .popup h3 {
    margin-bottom: 10px;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }

/* Styliser le texte du numéro du jour */
.day-container {
    position: relative;
  }
  
  .day {
    font-size: 12px; /* Ajuster la taille de police */
    position: absolute;
    top: 5px; /* Ajuster la position verticale */
    left: 5px; /* Ajuster la position horizontale */
    color: #333; /* Couleur du texte */
  }
  
  .task-name {
    position: absolute;
    bottom: 5px; /* Ajuster la position verticale */
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px; /* Ajuster la taille de police */
    color: #333; /* Couleur du texte */
  }
  
  /* Ajouter le style pour les cellules avec une tâche */
  .has-task {
    position: relative;
  }
  
  .task-names {
    background-color: #ffc0cb; /* Couleur rose pour le surlignage */
    padding: 2px 5px; /* Ajuster le rembourrage */
    border-radius: 3px; /* Coins arrondis */
  }
  
  /* Ajouter le style pour les jours avec une tâche spéciale */
  .task-day .day {
    border: 2px solid #ff0000; /* Bordure rouge pour le numéro du jour */
    border-radius: 50%; /* Coins arrondis */
  }

  td.colonne-heures {
    width: 10%; /* Ajustez la largeur selon vos besoins */
  }
