/* Style pour le header */
#header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center; /* Centre le contenu horizontalement */
  }
  
  /* Style pour le logo */
  .logo-container {
    margin-bottom: 20px; /* Marge en bas pour séparer le logo des onglets */
  }
  
  /* Style pour les éléments de navigation dans le header */
  .header-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .header-nav li {
    display: inline-block;
    margin-right: 20px;
  }
  