<header id="header" class="header fixed-top d-flex align-items-center justify-content-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto justify-content-center">
        <ul class="d-flex align-items-center">  
            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" routerLink="/client/accueil" data-bs-toggle="dropdown">
                  Accueil
                </a><!-- End Messages Icon -->
              </li><!-- End Messages Nav -->

          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" routerLink="/client/serviceclient" data-bs-toggle="dropdown">
              Services
            </a><!-- End Messages Icon -->
          </li><!-- End Messages Nav -->

          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" routerLink="/client/offreclient" data-bs-toggle="dropdown">
              Offres
            </a><!-- End Messages Icon -->
          </li><!-- End Messages Nav -->

          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" routerLink="/client/employes" data-bs-toggle="dropdown">
              Nos Teams
            </a><!-- End Messages Icon -->
          </li><!-- End Messages Nav -->


          <li class="nav-item dropdown">
            <a class="nav-link nav-icon" routerLink="/client/rdv" data-bs-toggle="dropdown">
              Rendez-vous
            </a><!-- End Messages Icon -->
          </li><!-- End Messages Nav -->
        </ul>
      </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
<div style="height: 100px;">

</div>
<router-outlet/>
  <footer id="footer" class="footer">
    <div class="copyright">
         <p><strong><span>RAMAROJAONA</span></strong> Hery Miantsa</p>
         <p><strong><span>FALIMANANTSOA</span></strong> Ny Ando Vonin'Ala</p>
    </div>
</footer><!-- End Footer -->
