/* Ajoutez du style CSS ici */
.steps-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 50px auto;
}

.step {
    border: 2px solid #444444;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.step-description {
    text-align: center;
    margin-top: 10px;
}

.active {
    background-color: #717ff5; /* couleur de fond lorsque l'étape est active */
  }

/*--------------------------------------------------------------------------------------------*/
/* calendar.component.css */

.calendar-container {
    text-align: center;
  }
  
  .mini-calendar {
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
  }
  
  .month {
    background-color: #eee;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .month h2 {
    margin: 0;
  }
  
  table {
    width: 100%;
  }
  
  table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  table td {
    cursor: pointer;
  }
  
  .selected-date {
    background-color: pink !important; /* Définissez la couleur de fond de votre choix */
  }

  