<div class="card">
<div class="steps-container">
    <div *ngFor="let etape of etapes; let i = index" class="step" [ngClass]="{'active': etape === selectedEtape}">
        {{ i + 1 }}
    </div>
</div>

<div class="step-content" *ngIf="selectedEtape">
    <div *ngIf="selectedEtape.nom === 'Choisissez une option'">
            <div class="card-body">
              <h5 class="card-title">Sélectionner les services souhaités</h5>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let service of services">
                  <input class="form-check-input me-1" type="checkbox" [(ngModel)]="service.checked">
                  {{ service.nomservice }}
                </li>
              </ul>
              <button (click)="validerEtape(selectedEtape)" class="btn btn-primary">Suivant</button>
        </div>
    </div>
    <div *ngIf="selectedEtape.nom === 'Remplissez le formulaire'">
        <div class="row">
            <div class="col-lg-3">
                <!-- Mini-calendrier -->
<div class="mini-calendar">
    <div class="month">
      <span class="prev-month" (click)="changeMonth(-1)">&lt;</span>
      <h2 class="card-title">{{ getMonthYearTitle() }}</h2>
      <span class="next-month" (click)="changeMonth(1)">&gt;</span>
    </div>

    <table>
      <thead>
        <tr>
          <th *ngFor="let day of days">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeks">
          <td *ngFor="let day of week" (click)="selectDate(day)">
            <span *ngIf="day !== 0">{{ day }}</span>
          </td>
        </tr>
      </tbody>      
    </table>
  </div>

            </div>
            <div class="col">
                <h2 class="card-title">{{ selectedDate }} {{ getMonthYearTitle() }}</h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" style="width: 20px;">Heure</th>
                        <th scope="col" *ngFor="let service of servicesSelectionnes" style="width: 20px;">{{ service.nomservice }}
                            <div class="col-sm-6">
                                <select class="form-select" aria-label="Default select example">
                                  <option selected>Pas de préférences</option>
                                  <option *ngFor="let employe of employesCorrespondants[service._id]" [value]="employe._id">{{ employe.name }}</option>
                                </select>
                              </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let hour of heures">
                        <td class="colonne-heures" style="width: 20px;">{{ hour }}</td>
                        <td *ngFor="let service of servicesSelectionnes" style="width: 20px;"><span class="badge bg-danger">Rejected</span></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <button (click)="retournerALaEtapePrecedente()" class="btn btn-secondary">Précédent</button>
        <button (click)="validerEtape(selectedEtape)" class="btn btn-primary">Suivant</button>
    </div>
    <div *ngIf="selectedEtape.nom === 'Confirmez votre commande'">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Détails de votre Rendez-vous</h5>
              <table>
                <tr  *ngFor="let service of servicesSelectionnes">
                <td>
                    <div class="list-group">
                        <a  class="list-group-item list-group-item-action" aria-current="true">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ service.nomservice }}</h5>
                          </div>
                          <p class="mb-1">Employé: </p>
                          <small>Date: </small>
                        </a>
                      </div><!-- End List group Advanced Content -->
                </td>
                <td>
                    <button type="button" class="btn btn-danger">
                        <i class="ri-delete-bin-5-fill"></i>
                    </button>
                </td>
            </tr>
              </table>
            </div>
        </div>
        <button (click)="retournerALaEtapePrecedente()" class="btn btn-secondary">Précédent</button>
        <button (click)="validerEtape(selectedEtape)" class="btn btn-primary">Suivant</button>
    </div>
    <div *ngIf="selectedEtape.nom === 'Paiement'">
        <div class="payment-container">
                  <h5 class="card-title">Formulaire de paiement</h5>
    
                  <!-- Horizontal Form -->
                  <form>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Numero de carte</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputText" placeholder="1234 5678 9012 3456" maxlength="16" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Date d'expiration</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputText" placeholder="MM/YY" maxlength="5" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">CVV</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputText" placeholder="123" maxlength="3" required>
                        </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                  </form><!-- End Horizontal Form -->
          </div>
        
        <button (click)="retournerALaEtapePrecedente()" class="btn btn-secondary">Précédent</button>
        <button (click)="validerEtape(selectedEtape)" class="btn btn-primary">Suivant</button>
    </div>
</div>
</div>