 <!-- Table with stripped rows -->
 <h5 class="card-title">A faire</h5>
 <table class="table datatable">
    <tbody>
      <tr *ngFor="let inacheve of inacheves">
        <th scope="row">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1" (change)="onCheckboxChange(inacheve)">
            </div>
        </th>
        <td>{{ inacheve.client.name }}</td>
        <td>{{ inacheve.service.nomservice }}</td>
        <td>{{ inacheve.rendezvous.dateRendezvous | date:'dd-MM-yyyy HH:mm:ss' }}</td>
      </tr>
    </tbody>
  </table>
  <h5 class="card-title">Efféctué</h5>
  <table class="table datatable">
    <thead>
      <th></th>
      <th>Client</th>
      <th>Service</th>
      <th>Date</th>
      <th>Commission</th>
    </thead>
    <tbody>
      <tr *ngFor="let effectue of effectues">
        <th scope="row">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1" checked (change)="onCheckboxChange(effectue)">
            </div>
        </th>
        <td><s>{{ effectue.client.name }}</s></td>
        <td>{{ effectue.service.nomservice }}</td>
        <td>{{ effectue.rendezvous.dateRendezvous | date:'dd-MM-yyyy HH:mm:ss' }}</td>
        <td>{{ (effectue.service.prix * effectue.service.commission / 100).toFixed(2) }}</td>
      </tr>

    </tbody>
  </table>